
Machine-Learning-Course-Andrew-Ng/machine-learning-assignments/ex2/.ipynb_checkpoints/python code -checkpoint.ipynb
Machine-Learning-Course-Andrew-Ng/machine-learning-assignments/ex1/Python code/.ipynb_checkpoints/Test1-checkpoint.ipynb
Machine-Learning-Course-Andrew-Ng/machine-learning-assignments/ex1/Python code/.ipynb_checkpoints/Test1-checkpoint.ipynb
Machine-Learning-Course-Andrew-Ng/machine-learning-assignments/ex1/Python code/.ipynb_checkpoints/Test1-checkpoint.ipynb
*.wav
*.mp3
*.midi
*.csv
*.txt
*.mid
*.py
*.h5
DeepLearning.AI TensorFlow Developer Specialization/C1-Introduction/W4/ungraded_labs/horse-or-human.zip
*.png
*.zip
*.jpg
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W1/assignment/.ipynb_checkpoints/C2_W1_Assignment_Solution-checkpoint.ipynb
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W1/assignment/.ipynb_checkpoints/C2_W1_Assignment-checkpoint.ipynb
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W1/ungraded_lab/.ipynb_checkpoints/C2_W1_Lab_1_cats_vs_dogs-checkpoint.ipynb
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W2/ungraded_labs/.ipynb_checkpoints/C2_W2_Lab_1_cats_v_dogs_augmentation-checkpoint.ipynb
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W2/ungraded_labs/.ipynb_checkpoints/C2_W2_Lab_2_horses_v_humans_augmentation-checkpoint.ipynb
*/.ipynb_checkpoints/*.ipynb
DeepLearning.AI TensorFlow Developer Specialization/C2-CNN in TensorFlow/W2/assignment/.ipynb_checkpoints/C2_W2_Assignment_Solution-checkpoint.ipynb